/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* VARIABLES */
:root{
    
    --black: #000;
    --white: #FFF;
    --ligthBlue: #F3F5FC;
    --darkBlue: #0A3871;
    --darkBlue2: #114c96;
    --gray400: #495057;
    --gray500: #343A40;
    --gray100: #D8DFE8;

}

/* RESET */

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* _______________________________________ */

body{
    display: flex;
    justify-content: center;
    
    box-sizing: border-box;
    background-color: var(--ligthBlue);
}

h1{
    font-size: 1.5rem;
    font-weight: 700;
}

h2{
    font-size: 1rem;
    font-weight: 400;
}

.bodyMax{
    max-width: 1440px;
    /**display: flex;
    justify-content: center;**/
}

/* HEADER */

.main_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 10vw;
    height: 100vh;
}

.main_header_logo{
    padding-top:10%;
    
}


/* MAIN */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}


.main_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: last baseline;
    width: 60vw;
    height: 100vh;
}

.main_section_textArea, .main_section_textArea:active{
    background-color: transparent;
    border: none;
    min-height: 70%;
    color: var(--darkBlue);
    font-size: 2.25rem;
    resize: none;
    outline: none;
    width: 100%;
}

.main_section_span{
    display: flex;
    align-items: center;
}

.main_section_span_img{
    width:20px;
    padding: 5px;
}

.main_section_span_text{
    color: var(--gray400);
}

.main_section_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.main_section_button_crip, .main_section_button_descrip{
    border: 0;
    padding: 24px;
    border-radius: 24px;
    width: 328px;
    font-size: 1rem;
    border: 1px solid var(--darkBlue);
}

.main_section_button_crip{
    background-color: var(--darkBlue);
    color: var(--ligthBlue);
}

.main_section_button_descrip{
    background-color: var(--gray100);
    color: var(--darkBlue);
}

/* ASIDE */

.main_aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 100vh;
}

.main_aside_card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    background-color: var(--white);
    border-radius: 32px;

    

    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.05);
}

.main_aside_mensage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.main_aside_mensage-Hide{
    display: none;
}


.main_aside_mensage_img{
    width: 80%;
}

.main_aside_mensage_text{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    gap: 16px;
}


.main_aside_result{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main_aside_result-Hide{
    display: none;
}

.main_aside_result_text{
    width: 90%;
    min-height: 70vh;
    background-color: transparent;
    border: none;
    color: var(--darkBlue);
    resize: none;
    outline: none;
    
}

.main_aside_result_copy{
    border: 0;
    width: 90%;
    padding: 24px;
    border-radius: 24px;
    font-size: 1rem;
    border: 1px solid var(--darkBlue);
    background-color: var(--white);
    color: var(--darkBlue);
}




/* SCROLLBAR */

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--darkBlue);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkBlue2);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: var(--darkBlue2);
  }
